.recoveryPassword{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.recoveryPasswordFormWrapper{
    display: flex;
    align-items: center;
    height: 100%;

}

