.recoveryPasswordForm{
    width: 65%;
    height: 47vh;
    border-radius: 40px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    margin-left: 5%;
    
}

#recoveryPasswordForm  .RecoveryTitle.darkmode_true{
    color: #fff !important;
}

.centeritems{
    align-items: center;
    margin: 30px;
}

/* #recoveryPasswordForm .formControl{
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 0px 11px 15px;
    border: none; */
/* } */

#recoveryPasswordForm  .form-btn{
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0px;
    background-color: #4461F2;
}

.formControl{
    /* background-color: red; */
    width: 100%;
    height: 6.5vh;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 0px 11px 15px;
    border: none;
}
.formControl_btn{
    width: 100%;
    height: 7vh;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 0px 11px 15px;
    background-color: #4461F2;
}