/* Rectangle 41917 */

#container {
  background: white;
  border-radius: 26px;
  height: 175px;
  left: 19px;
  position: absolute;
  top: 649px;
  width: 706px;
  padding: 15px;
}
#friends {
  width: 152px;
  height: 19px;
  left: 67px;
  top: 678px;
  margin-top: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 54%;
  letter-spacing: 0.03em;
  color: #000000;
}

#search {
  /* Rectangle 41931 */

  box-sizing: border-box;
  /*position: absolute;*/
  width: 75%;
  height: 30px;
  left: 230px;
  top: 666px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 10px;
}
