body{
    background-color: black;
    margin: 20px;
  }
  
  .divmaestro{
    
    margin: 0 auto;
    width: 60vw;
    height: auto;
    
  }
  
  .post{
    display: inline-block;
    width: 50vw;
    height: auto;
    background-color: white;
    border-radius: 1.5vw;  
  }
  
  .divtexto{
    margin: 0 auto;
    width: 95%;
    height: auto;
    border-style: none;
    text-align: left;
  }
  
  .texto{
    border-style: none;
    margin-top: 1vw;
    outline: none;
    width: 95%;
    font-size: 1.2vw;
  }
  
  .boton{
  
    margin-bottom:1vw ;
    background-color: #4461F2;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    color: white;
  }
  
  .extrasdiv{
    display: inline-block;
    margin-left: 1vw;
    width: 88%;
  
  }
  
  .extras{
    border-style: none;
    background-color: white;
  }
  
  .enviardiv{
    display: inline-block;
    text-align: right;
  }
  
  .fperfil{
    display: inline-block;
    width:4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 1vw;
    text-align: center;  
  }
  
  .foto{
    margin-top: 0.5vw;
    width: 3vw;
    height: 3vw;
  }
  
  