.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navIconsCard{
    background-color: white;
    border-radius: 15px;
    justify-content: center;
    padding-bottom: 1rem;
}

@media screen and (max-width: 825px) {

    .navIconsCard{
        background-color: white;
        border-radius: 0px;
        justify-content: center;
        margin-top: 3rem;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        
        
    }
 
}

.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 825px) {
 
    .navIcons{
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        display: inline-block;
        justify-content: center;
    }
}

.navIcons>a>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>img:hover{
    cursor: pointer;
}

.r-button{
    height:3rem;
    width: 80%;
    align-self: center;
}