.newPasswordForm{
    width: 75%;
    height: 50vh;
    border-radius: 35px;
    background-color: #d9d9d9;
    margin-left: 400px;
}

.newPasswordForm.darkmode-true{
    background-color: rgb(64, 58, 58) !important;
}

#passwordForm {
    text-align: center;
    position: relative;
    bottom: 5rem;
}

#passwordForm .formControl{
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 0px 11px 15px;
    border: none;
}

#passwordForm .inputsGroup{
    margin: 0 auto;
}

#passwordForm .text-muted{
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF !important;
    font-size: 14px;
}

#passwordForm  .form-btn{
    width: 70%;
    font-size: 15px;
    border-radius: 10px;
    padding: 4px 2px;
    background-color: #4461F2;
}

@media only screen and (min-width:700px) {
    #passwordForm {
        bottom: 0rem;
    }

    #passwordForm .ctaRow{
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
    }

    #passwordForm .ctaRow .text-muted{
        color: #1DA1F2 !important;
    }

    #passwordForm .passwordTitle.darkmode_true{
        color: #fff !important;
        background-color: rgb(64, 58, 58) !important;
    }
}